body {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("./pages/assets/TekkyTois.png");
  background-color: white;
  background-repeat: no-repeat;
  background-size: contain;
  background-size: auto 95px;
  background-attachment: fixed;
  background-position: left top;


}
.button {
  display: block;
  border-radius: 30px;
  background-color: #5ce1e6;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 20px;

  align-items: center;
  justify-content: center;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

button:hover::before {
  opacity: 1;
	transform: scale(1, 1);
}

button:hover::after {
  opacity: 0;
	transform: scale(0.1, 1);

}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
  font-size: 65px;
  margin: 40px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-variant-caps: titling-caps;
  color: #000000;

}


.outer {
  border-radius: 90px;
  width: 550px;
  height: 530px;
  border: 1px solid #5ce1e6;
  margin-top: 40px;
  /* background-image: url("./pages/assets/TekkyTois.png"); */
  background-size: cover;
  background: linear-gradient(303deg, #4b2828, #ff0a0a);
    -webkit-animation: AnimationName 0s ease infinite;
    -moz-animation: AnimationName 0s ease infinite;
    -o-animation: AnimationName 0s ease infinite;
    animation: AnimationName 0s ease infinite;
}
@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.loginContainer,
.signUpContainer,
.homeContainer {
  background-color: red;
  color: white;
  font-family: Roboto;
  border-radius: 90px;
  width: 500px;
  height: 527px;
  border: 1px outset red;
  margin-top: 60px;
  margin: 0 auto;

}


a {
  color: #ff1616;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar {
  padding: 30px;
  font-size: 20px;
  background-color: #5ce1e6;
  text-align: center;
  width: 600px;
  margin: 0 auto;
  border-radius: 40px;
}

.nav {
  color: #cb6ce6;
}

.loginInput,
.signupInput {
  padding: 10px;
  margin: 5px;
  height: 200px;
  width: 260px;

}

.header {
  font-size: 25px;

}
